@{
    ViewData["Title"] = "Tron-Webshop";
}

<section class="section">
    <div class="jumbotron">
        <h3 style="color: white; margin-top: 6rem;" class="text-center">
            Tron, wir haben alles was du brauchst, was wir nicht haben brauchst du nicht!
        </h3>
        <a asp-controller="Product" asp-action="ProductOfTheMonth" class="noTextDecoration text-center">
            <h4 style="color: red;">
                Zum Produkt des Monats
            </h4>
        </a>
    </div>
</section>


<section class="section">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-5">
            <h4 class="mb-5">Smartphones</h4>
            <p>
                In unserem Shop findest Du nicht nur die neuesten Modelle im Bereich der Smartphones, sondern auch immer
                wieder gebrauchte Modelle die von unserem Team fachmännisch überarbeitet wurden. Es lohnt sich also
                immer mal wieder einen Blick in diese Kategorie zu werfen wenn du nach einem günstigen, aber leistungsfähigen
                Modell suchst. Nach dem Kauf stehen Dir unsere Mitarbeiter sowohl Online als auch in unserem Store mit
                Rat und Tat zur Verfügung. Nimm dir also ruhig etwas Zeit zum stöbern!
            </p>
        </div>

        <div id="smartphoneCarousel" class="carousel slide carousel-fade col-sm-12 col-md-8 col-lg-7 d-flex align-items-center" data-ride="carousel">
            <div class="carousel-inner mt-3 mb-3">
                <div class="carousel-item active">
                    <a asp-controller="Home" asp-action="Shop" class="noTextDecoration">
                        <h5 class="text-center mb-3" style="color: black">Samsung Galaxy Flip</h5>
                        <img src="~/src/images/smartphones/samsung-galaxy-z-flip-3.jpg" class="d-block" alt="Samsung Galaxy Flip">
                    </a>
                </div>
                <div class="carousel-item">
                    <a asp-controller="Home" asp-action="Shop"  class="noTextDecoration">
                        <h5 class="text-center mb-3" style="color: black">Huawei P30 Lite</h5>
                        <img src="~/src/images/smartphones/huawei-p30-lite.jpg" class="d-block" alt="Huawei P30 Lite">
                    </a>
                </div>
                <div class="carousel-item">
                    <a asp-controller="Home" asp-action="Shop"  class="noTextDecoration">
                        <h5 class="text-center mb-3" style="color: black">Apple iPhone 13</h5>
                        <img src="~/src/images/smartphones/iphone-13.jpg" class="d-block" alt="Apple iphone 13">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section smallScreen">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-5">
            <h4 class="mb-5">Tablets</h4>
            <p>
                Bei unseren Tablets lassen wir uns nicht lumpen! Du findest hier die aktuellsten Modell auf dem Markt zu
                fairen Preisen. Es lohnt sich auch immer etwas Zeit zu investieren um das Modell zu finden was am besten
                zu Deinen Bedürfnissen passt. Du kannst, bei Fragen, jederzeit unseren Support per E-Mail oder Telefon
                erreichen, hier wird Dir auf jeden Fall geholfen! Auch nach dem Kauf stehen wir Dir jederzeit in unserem
                Shop oder telefonisch zur Verfügung.
            </p>
        </div>

        <div id="tabletCarousel" class="carousel slide carousel-fade col-sm-12 col-md-8 col-lg-7 d-flex align-items-center" data-ride="carousel">
            <div class="carousel-inner mt-3 mb-3">
                <div class="carousel-item active">
                    <a asp-controller="Home" asp-action="Shop"  class="noTextDecoration">
                        <h5 class="text-center mb-3" style="color: black">Huawei MatePad Pro</h5>
                        <img src="~/src/images/tablets/huawei-matepad-pro.jpg" class="d-block" alt="Huawei MatePad Pro">
                    </a>
                </div>
                <div class="carousel-item">
                    <a asp-controller="Home" asp-action="Shop"  class="noTextDecoration">
                        <h5 class="text-center mb-3" style="color: black">Apple iPad Pro 5</h5>
                        <img src="~/src/images/tablets/ipad-pro-5.jpg" class="d-block" alt="Apple iPad Pro 5">
                    </a>
                </div>
                <div class="carousel-item">
                    <a asp-controller="Home" asp-action="Shop"  class="noTextDecoration">
                        <h5 class="text-center mb-3" style="color: black">Samsung Galaxy Tab FE</h5>
                        <img src="~/src/images/tablets/samsung-glxy-tab-s7-fe.jpg" class="d-block" alt="Samsung Galaxy Tab FE">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bigScreen">
    <div class="row">
        <div id="tabletCarousel" class="carousel slide carousel-fade col-sm-12 col-md-8 col-lg-7 d-flex align-items-center" data-ride="carousel">
            <div class="carousel-inner mt-3 mb-3">
                <div class="carousel-item active">
                    <a asp-controller="Home" asp-action="Shop"  class="noTextDecoration">
                        <h5 class="text-center mb-3" style="color: black">Huawei MatePad Pro</h5>
                        <img src="~/src/images/tablets/huawei-matepad-pro.jpg" class="d-block" alt="Huawei MatePad Pro">
                    </a>
                </div>
                <div class="carousel-item">
                    <a asp-controller="Home" asp-action="Shop"  class="noTextDecoration">
                        <h5 class="text-center mb-3" style="color: black">Apple iPad Pro 5</h5>
                        <img src="~/src/images/tablets/ipad-pro-5.jpg" class="d-block" alt="Apple iPad Pro 5">
                    </a>
                </div>
                <div class="carousel-item">
                    <a asp-controller="Home" asp-action="Shop"  class="noTextDecoration">
                        <h5 class="text-center mb-3" style="color: black">Samsung Galaxy Tab FE</h5>
                        <img src="~/src/images/tablets/samsung-glxy-tab-s7-fe.jpg" class="d-block" alt="Samsung Galaxy Tab FE">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-5">
            <h4 class="mb-5">Tablets</h4>
            <p>
                Bei unseren Tablets lassen wir uns nicht lumpen! Du findest hier die aktuellsten Modell auf dem Markt zu
                fairen Preisen. Es lohnt sich auch immer etwas Zeit zu investieren um das Modell zu finden was am besten
                zu Deinen Bedürfnissen passt. Du kannst, bei Fragen, jederzeit unseren Support per E-Mail oder Telefon
                erreichen, hier wird Dir auf jeden Fall geholfen! Auch nach dem Kauf stehen wir Dir jederzeit in unserem
                Shop oder telefonisch zur Verfügung.
            </p>
        </div>
    </div>
</section>

<div class="row mb-5">
    <div class="col-sm-12 col-md-4 col-lg-5">
        <h4 class="mb-5">Notebooks</h4>
        <p>
            Notebooks sind das Must-have der heutigen Zeit. Gerade für Kinder in der Schule werden sie immer notwendiger.
            Nimm Dir Zeit und schau dich in unserem Shop um, Du kannst hier immer wieder überarbeitete alternativen
            zu den aktuellen Modellen finden. Eine Preiswerte alternative mit gutem Service wirst Du bei uns sicher
            finden. Gern helfen wir auch beim einrichten deines neuen Notebooks, darüber hinaus stehen wir dir auch
            nach dem Kauf gern beratend zur Seite.
        </p>
    </div>

    <div id="notebookCarousel" class="carousel slide carousel-fade col-sm-12 col-md-8 col-lg-7 d-flex align-items-center" data-ride="carousel">
        <div class="carousel-inner mt-3 mb-3">
            <div class="carousel-item active">
                <a asp-controller="Home" asp-action="Shop"  class="noTextDecoration">
                    <h5 class="text-center mb-3" style="color: black">Acer Aspire 5</h5>
                    <img src="~/src/images/notebooks/acer-aspire-5-a515-44.jpg" class="d-block" alt="Acer Aspire 5">
                </a>
            </div>
            <div class="carousel-item">
                <a asp-controller="Home" asp-action="Shop"  class="noTextDecoration">
                    <h5 class="text-center mb-3" style="color: black">Lenovo TP X1 Yoga G2</h5>
                    <img src="~/src/images/notebooks/lenovo-tp-x1-yoga-g2.jpg" class="d-block" alt="Lenovo TP X1 Yoga G2">
                </a>
            </div>
            <div class="carousel-item">
                <a asp-controller="Home" asp-action="Shop"  class="noTextDecoration">
                    <h5 class="text-center mb-3" style="color: black">Apple MacBook Pro 2019</h5>
                    <img src="~/src/images/notebooks/apple-macbook-pro-2019.jpg" class="d-block" alt="Apple MacBook Pro 2019">
                </a>
            </div>
        </div>
    </div>
</div>
