/* Customized CSS
-------------------------------------------------- */


/* Allgemein
-------------------------------------------------- */
/*body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #343a40;
}*/

a {
    color: #343a40 !important;
}

.noTextDecoration:hover {
    text-decoration: none;
    color: #A9A9A9 !important;
}

.section {
    margin-bottom: 10rem;
}

.warningColor {
    color: red !important;
}

.custom-btn-size {
    width: 10rem;
}

.productDetailsInCart {
    font-size: 0.8rem;
}

.dropDownListSize {
    width: 4.8rem;
}

/* Einkaufswagenicon im jeweiligen toaster einbinden*/
#toast-container .toast.toast-success{
    background-image: url("/src/images/icons/shopping-cart.png") !important;
    background-size: 24px 24px;
}

#toast-container .toast.toast-error {
    background-image: url("/src/images/icons/shopping-cart.png") !important;
    background-size: 24px 24px;
}

/* inputfelder vom typ number haben keine inkrement/decrement Pfeile*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    /*appearance: none;*/
    margin: 0;
}

/* Navbar */
.navbar-nav .nav-item > .nav-link {
    color: #343a40 !important;
}

    .navbar-nav .nav-item > .nav-link:hover {
        color: #A9A9A9 !important;
    }

.myButton {
    width: 20rem !important;
}

/* Index
-------------------------------------------------- */
.jumbotron {
    background-image: url(../src/images/jumbotron/abstract-1920.jpg);
    background-size: cover;
    height: 25rem;
}

/* Bild im Carousel mittig darstellen */
.carousel-inner img {
    margin: auto;
}

/* Standardgröße Image im Carousel*/
.carousel-inner > .carousel-item > a > img {
    height: 18.75rem;
    width: auto;
}

/* ShopView */
#productListImage {
    height: 13rem;
    width: auto;
}

/* DetailsView */
#productDetailsImage {
    height: 20rem;
}

/* Darstellungen auf verschiedenen Geräten */
@media (min-width: 374px) and (max-width: 575.9px) {
    .smallScreenBottomMargin {
        margin-bottom: 0.8rem;
    }

    .bigScreen {
        display: none;
    }

    .carousel-inner > .carousel-item > a > img {
        height: 9.5rem;
        width: auto;
    }

    .section {
        margin-bottom: 2rem;
    }

    #productDetailsImage {
        height: 12rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .carousel-inner > .carousel-item > a > img {
        height: 9.5rem;
        width: auto;
    }

    .section {
        margin-bottom: 3rem;
    }

    .bigScreen {
        display: none;
    }

    #productListImage {
        height: 9.5rem;
        width: auto;
    }

    #productDetailsImage {
        height: 12rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner > .carousel-item > a > img {
        height: 12.5rem;
        width: auto;
    }

    .section {
        margin-bottom: 4rem;
    }

    .smallScreen {
        display: none;
    }

    #productListImage {
        height: 14rem;
        width: auto;
    }

    #productDetailsImage {
        height: 10.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-inner > .carousel-item > a > img {
        height: 14.65rem;
        width: auto;
    }

    .section {
        margin-bottom: 5rem;
    }

    .smallScreen {
        display: none;
    }
}

@media (min-width: 1200px) {
    .smallScreen {
        display: none;
    }
}
