@model Webshop.ViewModels.CustomerAndOrderIDViewModel
@{
    ViewData["Title"] = "Danke";
}

<div class="row">
    <div class="col-12 text-center mb-5">
        <div style="height: 10rem; width:auto;">
            <img src="/icons8-tron-64.png" alt="Tron-Logo" style="height: 5rem; width:auto;" />
        </div>
        <div class="text-left">
            <h1>
                Hallo @Model.FirstName @Model.LastName,
            </h1>
            <br />
        </div>
        <div class="text-left">
            <p>
                danke für deine Bestellung, die Bestellnummer lautet @Model.OrderId.
            </p>
            <span>
                Unser Team macht sich sofort an die Arbeit um deine Bestellung schnellstmöglich abzuschicken.
            </span>
            <p>
                Sollten Probleme mit deiner Bestellung auftreten kannst Du dich jederzeit an unseren Support unter,<br /><br />
                Telefon: 0000-1111-222 <br>
                Email: support@tron.at <br /><br />
                wenden.
            </p>
            <p>
                Eine E-Mail mit der Rechnung wird Dir gesondert an deine E-Mail-Adresse geschickt.
            </p>
            <p>
                Vielen Dank für deine Bestellung, dein Tron-Team!
            </p>
        </div>
    </div>
</div>