@model Webshop.Models.Customer

@{
    ViewData["Title"] = "Registrieren";
}

<h1>Registrieren</h1>

<hr />

<div class="row">
    <div class="col-md-6 col-sm-12 d-block mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Title" class="form-control" placeholder="Anrede" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="FirstName" class="form-control" placeholder="Vorname" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LastName" class="form-control" placeholder="Nachname" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="E-Mail" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Street" class="form-control" placeholder="Straße" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Zip" class="form-control" placeholder="Postleitzahl" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="City" class="form-control" placeholder="Stadt" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" id="passwordOne" name="password" placeholder="Passwort" />
                <span asp-validation-for="Password" class="text-danger" id="passwordMessageOne"></span>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" id="passwordTwo" placeholder="Passwort wiederholen" />
                <span class="text-danger" id="passwordMessageTwo"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Registrieren" class="btn btn-outline-dark" id="registerBtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index" class="noTextDecoration">Zurück zur Startseite</a>
</div>

